* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Конец обнуления */

body {
  font-family: "Montserrat", sans-serif;
}
.form-item {
  display: block;
  border-radius: 15px;
  border: 1px solid black;
  padding: 15px 10px 15px 10px;
  margin-bottom: 10px;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

.form-order {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.form__first-place,
.form__second-place {
  padding: 30px 30px 30px 30px;
  width: 500px;
  border-radius: 20px;
  border: 1px solid black;
}
.title {
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: zcenter;
}

.form__first-adress {
  width: 100%;
}
.form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}
.form-item__row {
  display: inline-block;
  width: 100px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 15px 10px 15px 10px;
}

.form__phone {
  width: 100%;
}

.form__button {
  border-radius: 15px;
  padding: 15px 10px 15px 10px;
  border: 1px solid black;
}
